.ListItem, .ListItem-Details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ListItem {
    box-shadow: 0px 0px 33px 2px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    gap: 50px;
    cursor: pointer;
}

.ListItem-Details {
    flex-grow: 1;
}

.ListItem-TimeLeft {
    display: flex;
    gap: 10px;
    color: white;
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 30px;
}

.ListItem-Details .good {
    background-color: green;
}

.ListItem-Details .near {
    background-color: yellow;
}

.ListItem-Details .urgent {
    background-color: red;
}

.ListItem label {
    flex-grow: 1;
    cursor: pointer;
    text-align: start;
    width: 200px;
    word-wrap: break-word;
    padding: 10px;
}

.ListItem input {
    display: none;
}

.ListItem .checkbox {
    display: block;
    position: relative;
    font-size: 22px;
    user-select: none;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.ListItem .checkbox::after {
    height: 20px;
    width: 20px;
}

.ListItem input:checked ~ .checkbox {
    background-color: #295135;
    transition: ease 100ms;
    border-color: transparent;
}

.ListItem input:checked ~ .checkbox::after {
    position: absolute;
    content:'✓';
    color: whitesmoke;
    inset-inline-start: 3px;
    inset-block-start: -2px;
}

.ListItem input:checked ~ label {
    color: grey;
    transition: ease 100ms;
}

.ListItem button {
    width: 35px;
    padding: 0;
}
