form {
    height: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div:not(:first-child) {
    margin-block-start: 30px;
}

form textarea {
    resize: none;
}

form #submit {
    cursor: pointer;
}
