.List {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline-start: 0;
    height: calc(100vh - 350px);
    margin: auto;
    margin-block-start: 20px;
    padding: 20px;
}

.List-Control {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.List-Control select {
    width: 120px;
    font-size: 1em;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--black-color);
    font-family: inherit;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1em;
}

.List-Control select:focus {
    outline: none;
}

.List-Details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.List-Details-Heading {
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.List-Details-Heading span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
    color: var(--white-color);
    padding: 5px;
    border-radius: 40px;
    height: 20px;
    width: 20px;
}

.EditTask-Form #update, form #delete {
    float: right;
    width: fit-content;
    margin-block: 0;
    margin-inline: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .List {
        overflow-y: scroll;
    }

    .List-Details {
        flex-direction: column;
        align-items: start;
    }
}
