.Main {
    margin-inline-start: 305px;
    margin-block-start: 85px;
    transition: linear 200ms;
    height: calc(100vh - 85px);
    padding-inline: 20px;
}

.showNav {
    margin-inline-start: 0;
}

@media (max-width: 768px) {
    .Main {
        margin-inline-start: 0;
    }
}
