.Modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    z-index: 30;
    display: none;
    align-items: center;
    justify-content: center;
}

.Modal-Container {
    height: fit-content;
    width: 500px;
    padding-inline: 20px;
    padding-block-end: 20px;
    color: var(--black-color);
    background-color: var(--white-color);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Modal-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Close-Icon {
    cursor: pointer;
}

.Modal-Body {
    flex-grow: 1;
}

.showModal {
    display: flex;
}
