.SideBar {
    box-sizing: border-box;
    height: 100vh;
    top: 55px;
    left: -425px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    width: 305px;
    background-color: var(--white-color);
    transition: linear 200ms;
    z-index: 10;
}

.SideBar-List {
    padding-inline: 40px;
}

.SideBar-List li a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 10px;
    padding: 5px;
    border-radius: 10px;
}

.SideBar-List li a:hover {
    background-color: var(--black-color-hover);
}

#projects li a {
    justify-content: space-between;
}

#projects li span {
    display: flex;
    align-items: center;
    gap: 10px;
}


.showNav {
    left: 0;
    transition: linear 200ms;
}

.Projects-Heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
}

.Projects-Heading button {
    height: 24px;
    padding: 0;
}
